<div class="container">
    <div class="row">
        <h1>Registrar Cliente</h1>
    </div>
    <div class="row">
        <ngb-alert #errorAlert *ngIf="errorMensaje" type="danger" (closed)="errorMensaje = ''">{{ errorMensaje }}
        </ngb-alert>
        <ngb-alert #successAlert *ngIf="exitoMensaje" type="success" (closed)="exitoMensaje = ''" id="msgExito">{{ exitoMensaje }}
        </ngb-alert>
    </div>
    
    <div class="row">
        <form [formGroup]="clienteForm" (ngSubmit)="ejecutar()" class="container">
            <input validar type="hidden" id="idCliente" name="id" formControlName="id"> 
            <div class="form-group">
              <label for="identificacionCliente">Identificación</label>    
              <input validar type="number" id="identificacionCliente" name="identificacion" placeholder="Ingrese identificación" class="form-control"
                  formControlName="identificacion">    
            </div>
          
            <div class="form-group">
              <label for="nombreCliente">Nombre</label>    
              <input validar type="text" id="nombreCliente" name="nombre" placeholder="Ingrese nombre" class="form-control"
                  formControlName="nombre">    
            </div>
          
            <div class="form-group">
              <label for="apellidoCliente">Apellido</label>    
              <input validar type="text" id="apellidoCliente" name="apellido" placeholder="Ingrese apellido" class="form-control"
                  formControlName="apellido">    
            </div>
          
            <div class="form-group">
              <label for="telefonoCliente">Telefono</label>    
              <input validar type="text" id="telefonoCliente" name="telefono" placeholder="Ingrese telefono" class="form-control"
                  formControlName="telefono">    
            </div>
          
            <div class="form-group">
              <label for="direccionCliente">Dirección</label>    
              <input validar type="text" id="direccionCliente" name="direccion" placeholder="Ingrese dirección" class="form-control"
                  formControlName="direccion">    
            </div>
            <button type="submit" class="btn btn-primary" id="btnRegistrarCliente" *ngIf="!cliente">Registrar</button>
            <button type="submit" class="btn btn-primary" id="btnModificarCliente" *ngIf="cliente">Modificar</button>
            <button class="btn btn-secondary mx-2" (click)="irListado()">Regresar Listado</button>
          </form>
    </div>
</div>



